{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
{% endblock %}

{% block content %}
<div class="feature-editor urbs-editor">
  <div class="feature-editor__buttons-tab feature-editor__second-column">
    <button class="feature-editor__buttons-tab__tablinks" id="storageButton" title="Storage" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'storage')"><span>St</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="supimButton" title="Supim" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'supim')"><span>Sup</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="timevareffButton" title="Timevareff" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'timevareff')"><span>TVE</span></button>
  </div>
  <div class="feature-editor__buttons-tab">
    <button class="feature-editor__buttons-tab__tablinks" id="buildingsButton" title="Buildings" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'buildings')"><span>B</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="demandButton" title="Demand" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'demand')"><span>D</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="buysellpriceButton" title="Buy-Sell Price" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'buysellprice')"><span>BSP</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="transmissionButton" title="Transmission" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'transmission')"><span>T</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="globalButton" title="Global" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'global'); maptool_urbs_setup.fillSelectedEditor(this, 'global')"><span>G</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="commodityButton" title="Commodity" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'commodity')"><span>C</span></button>
    <button class="feature-editor__buttons-tab__tablinks" id="processesButton" title="Processes" onclick="maptool_urbs_setup.openUrbsEditorList(event, 'processes')"><span>P</span></button>
</div>
  <div class="feature-editor__featurelist-tab" id="buildings">
    <select class ="feature-editor__featurelist-tab__feature-select" id="buildingsSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'buildings')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="demand">
    <select class ="feature-editor__featurelist-tab__feature-select" id="demandSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'demand')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="buysellprice">
    <select class ="feature-editor__featurelist-tab__feature-select" id="buysellpriceSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'buysellprice')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="transmission">
    <select class ="feature-editor__featurelist-tab__feature-select" id="transmissionSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'transmission')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="global">
    <select class ="feature-editor__featurelist-tab__feature-select" id="globalSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'global')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="commodity">
    <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_urbs_commodity.createNewCommodity()">Add Commodity</button>
    <select class ="feature-editor__featurelist-tab__feature-select" id="commoditySelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'commodity')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="processes">
    <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="pro_propSelectButton">Process Properties</button>
    <div class="panel">
      <button type='button' class="button feature-editor__featurelist-tab__add-feature-button" id="pro_propAddButton" onclick="maptool_urbs_process.createNewProcessProperty()">Add Property</button>
      <select class ="feature-editor__featurelist-tab__feature-select" id="pro_propSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'pro_prop')" multiple></select>  
    </div>
    <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="pro_com_propSelectButton">Process Commodities</button>
    <div class="panel">
      <button type='button' class="button feature-editor__featurelist-tab__add-feature-button" id="pro_com_propAddButton" onclick="maptool_urbs_process.createNewProcessCommodity()">Add Commodity</button>
      <select class ="feature-editor__featurelist-tab__feature-select" id="pro_com_propSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'pro_com_prop')" multiple></select>
    </div>
  </div>
  <div class="feature-editor__featurelist-tab" id="storage">
    <select class ="feature-editor__featurelist-tab__feature-select" id="storageSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'storage')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="supim">
    <select class ="feature-editor__featurelist-tab__feature-select" id="supimSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'supim')" multiple></select>
  </div>
  <div class="feature-editor__featurelist-tab" id="timevareff">
    <select class ="feature-editor__featurelist-tab__feature-select" id="timevareffSelect"  onchange="maptool_urbs_setup.fillSelectedEditor(this, 'timevareff')" multiple></select>
  </div>

  <div class="feature-editor__selected-feature-editor" id="buildingsEditor">
    <form id="buildingsForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="demandEditor" style="display: inline-block">
    <form>
      <div class="feature-editor__selected-feature-editor__demand" id="electricity">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button" id="electricitySelect">Electricity</button>
        <div class="panel" id="demand_electricityPanel"></div>
        <div class="feature-editor__selected-feature-editor__demand__graph" id="main"></div>
      </div>
      <div class="feature-editor__selected-feature-editor__demand" id="electricity-reactive">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button" id="electricity-reactiveSelect">Electricity-Reactive</button>
        <div class="panel" id="demand_electricity_reactivePanel"></div>
        <div class="feature-editor__selected-feature-editor__demand__graph"></div>
      </div>
      <div class="feature-editor__selected-feature-editor__demand" id="movility">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="movilitySelect">Mobility</button>
        <div class="panel" id="demand_mobilityPanel"></div>
        <div class="feature-editor__selected-feature-editor__demand__graph"></div>
      </div>
      <div class="feature-editor__selected-feature-editor__demand" id="space_heat">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button" id="space_heatSelect">Space Heat</button>
        <div class="panel" id="demand_space_heatPanel"></div>
        <div class="feature-editor__selected-feature-editor__demand__graph"></div>
      </div>
      <div class="feature-editor__selected-feature-editor__demand" id="water_heat">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="water_heatSelect">Water Heat</button>
        <div class="panel" id="demand_water_heatPanel"></div>
        <div class="feature-editor__selected-feature-editor__demand__graph"></div>
      </div>
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="buysellpriceEditor">
  </div>
  <div class="feature-editor__selected-feature-editor" id="transmission_cable_dataEditor">
    <form id="transmission_cable_dataForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="transmission_trafo_dataEditor">
    <form id="transmission_trafo_dataForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="transmission_voltage_limitsEditor">
    <form id="transmission_voltage_limitsForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="globalEditor">
    <form id="globalForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="commodityEditor">
    <form id="commodityForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="pro_propEditor">
    <form id="pro_propForm">
    </form>
  </div>
  <div class="feature-editor__selected-feature-editor" id="pro_com_propEditor">
    <form id="pro_com_propForm">
    </form>
  </div>
</div>

<div class="action-buttons">
  <button class="button action-buttons__button" type="button" id="returnUrbsSetupButton" onclick="maptool_return_urbs.returnUrbsSetup()">Finish Urbs Setup</button>
</div>

<script defer src="{{url_for('static', filename='/network_editor/generate_editable_network.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/return_urbs_setup.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/generate_urbs_setup_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/demand_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/buildings_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/buysellprice_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/transmission_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/process_editor.js')}}"></script>
<script defer src="{{url_for('static', filename='/urbs_editor/commodity_editor.js')}}"></script>
{% endblock %}