{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="feature-editor">
  <div class="feature-editor__featurelist-tab" id="bus">
    <select class ="feature-editor__featurelist-tab__feature-select" id="busSelect" onchange="resetStyle(NetworkObject['busList'][this.selectedIndex], 'bus')" multiple></select>
  </div>
</div>


<script defer src="{{url_for('static', filename='display_editable_network_features.js')}}"></script>
<script defer src="{{url_for('static', filename='generate_editable_network.js')}}"></script>
{% endblock %}
