{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
{% endblock %}

{% block content %}
    <h1></h1>
    <div class="FeatureEditor">
      <div class="featureButtons">
        <button class="tablinks" ><span>Buses</span></button>
        <button class="tablinks" ><span>Lines</span></button>
        <button class="tablinks" ><span>Trafos</span></button>
        <button class="tablinks" ><span>Ext. Grid</span></button>
        <button class="tablinks" ><span>Std Types</span></button>
      </div>
      <div class="featureListSelection">

      </div>
      <div class="selectedFeatureEditor">

      </div>
    </div>

    <div id="map"></div>
    <div>
        <button class="button" type="button" id="selectAreaButton" onclick="WriteShapefiles()">Select Area</button>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}

