{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1></h1>
    <div class="FeatureEditor">
      <div class="buttonsTab">
        <button class="tablinks" id="busListButton" onclick="openList(event, 'bus')"><span>Buses</span></button>
        <button class="tablinks" id="lineListButton" onclick="openList(event, 'line')"><span>Lines</span></button>
        <button class="tablinks" id="trafoListButton" onclick="openList(event, 'trafo')"><span>Trafos</span></button>
        <button class="tablinks" id="ext_gridListButton" onclick="openList(event, 'ext_grid')"><span>Ext. Grid</span></button>
        <button class="tablinks" id="std_typesListButton" onclick="openList(event, 'std_types')"><span>Std Types</span></button>
      </div>
      <div id="bus" class="featureListTab">
        <select id="busSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'bus')"></select>
      </div>
      <div id="line" class="featureListTab">
        <select id="lineSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'line')"></select>
      </div>
      <div id="trafo" class="featureListTab">
        <select id="trafoSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'trafo')"></select>
      </div>
      <div id="ext_grid" class="featureListTab">
        <select id="ext_gridSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'ext_grid')"></select>
      </div>  
      <div id="std_types" class="featureListTab">
        <select id="line_std_typesSelect" class ="std_type_featureSelect" onchange="fillStdTypeEditor(this, 'line_std')"></select>
        <select id="trafo_std_typesSelect" class ="std_type_featureSelect" onchange="fillStdTypeEditor(this, 'trafo_std')"></select>
        <select id="trafo3w_std_typesSelect" class ="std_type_featureSelect" onchange="fillStdTypeEditor(this, 'trafo3w_std')"></select>
      </div>
      <div class="selectedFeatureEditor" id="busEditor">
          <form id="busForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="lineEditor">
        <form id="lineForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="trafoEditor">
        <form id="trafoForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="ext_gridEditor">
        <form id="ext_gridForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="std_typesEditor">
        <form id="line_std_typesForm"></form>
        <form id="trafo_std_typesForm"></form>
        <form id="trafo3w_std_typesForm"></form>
      </div>
    </div>

    <div class="actionButtons">
      <button class="button" type="button" id="returnEditedNetButton">Finish Editing</button>
    </div>

    <script defer src="{{url_for('static', filename='generate_editable_network.js')}}"></script>
    <script defer src="{{url_for('static', filename='display_editable_network_features.js')}}"></script>
{% endblock %}

