{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
{% endblock %}

{% block content %}
    <h1></h1>
    <div class="FeatureEditor">
      <div class="buttonsTab">
        <button class="tablinks" onclick="openList(event, 'bus')"><span>Buses</span></button>
        <button class="tablinks" onclick="openList(event, 'line')"><span>Lines</span></button>
        <button class="tablinks" onclick="openList(event, 'trafo')"><span>Trafos</span></button>
        <button class="tablinks" onclick="openList(event, 'ext_grid')"><span>Ext. Grid</span></button>
        <button class="tablinks" onclick="openList(event, 'std_types')"><span>Std Types</span></button>
      </div>
      <div id="bus" class="featureListTab">
        <select id="busSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'bus')"></select>
      </div>
      <div id="line" class="featureListTab">
        <select id="lineSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'line')"></select>
      </div>
      <div id="trafo" class="featureListTab">
        <select id="trafoSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'trafo')"></select>
      </div>
      <div id="ext_grid" class="featureListTab">
        <select id="ext_gridSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'ext_grid')"></select>
      </div>  
      <div id="std_types" class="featureListTab">
        <select id="std_typesSelect" class ="featureSelect" size="24" onchange="fillSelectedFeatureEditor(this, 'std_types')"></select>
      </div>
      <div class="selectedFeatureEditor" id="busEditor">
          <form id="busForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="lineEditor">
        <form id="lineForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="trafoEditor">
        <form id="trafoForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="ext_gridEditor">
        <form id="ext_gridForm"></form>
      </div>
      <div class="selectedFeatureEditor" id="std_typesEditor">
        <form id="std_typesForm"></form>
      </div>

    </div>

    <div class="actionButtons">
      <button class="button" type="button" id="selectAreaButton" onclick="WriteShapefiles()">Select Area</button>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}

