{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="list-selection">
  <select id="networkSelect" class ="feature-editor__featurelist-tab__feature-select" size="24" onchange="highlightSelectedPreviewLayer(this)"></select>
</div>

<div class="action-buttons">
  <button class="button action-buttons__button" id="selectPLZAreaButton" type="button" onclick="getPostalCodeArea('plz-area')">Select Area</button>
  <a href="/networks" >
    <button class="button action-buttons__button" id="selectNetworkButton" type="button" onclick="sendBackSelectedNetworkKcidBcid()" disabled>Select Network</button>
  </a>
</div>  

<script defer src="{{url_for('static', filename='display_postcode.js')}}"></script>
<script defer src="{{url_for('static', filename='generate_editable_network.js')}}"></script>
{% endblock %}