{% block body %}
<form>
    <label for="name">name</label>
    <input type="text" id="name" name="name">

    <label for="from_bus">from_bus</label>
    <input type="text" id="from_bus" name="from_bus">

    <label for="to_bus">to_bus</label>
    <input type="text" id="to_bus" name="to_bus">

    <label for="length_km">length_km</label>
    <input type="text" id="length_km" name="length_km">

    <label for="r_ohm_per_km">r_ohm_per_km</label>
    <input type="text" id="r_ohm_per_km" name="r_ohm_per_km">

    <label for="x_ohm_per_km">x_ohm_per_km</label>
    <input type="text" id="x_ohm_per_km" name="x_ohm_per_km">

    <label for="c_nf_per_km">c_nf_per_km</label>
    <input type="text" id="c_nf_per_km" name="c_nf_per_km">

    <label for="r0_ohm_per_km">r0_ohm_per_km</label>
    <input type="text" id="r0_ohm_per_km" name="r0_ohm_per_km">

    <label for="x0_ohm_per_km">x0_ohm_per_km</label>
    <input type="text" id="x0_ohm_per_km" name="x0_ohm_per_km">

    <label for="c0_nf_per_km">c0_nf_per_km</label>
    <input type="text" id="c0_nf_per_km" name="c0_nf_per_km">

    <label for="max_i_ka">max_i_ka</label>
    <input type="text" id="max_i_ka" name="max_i_ka">

    <label for="std_type">std_type</label>
    <input type="text" id="std_type" name="std_type">

    <label for="df">df</label>
    <input type="text" id="df" name="df">

    <label for="g_us_per_km">g_us_per_km</label>
    <input type="text" id="g_us_per_km" name="g_us_per_km">

    <label for="g0_us_per_km">g0_us_per_km</label>
    <input type="text" id="g0_us_per_km" name="g0_us_per_km">

    <label for="parallel">parallel</label>
    <input type="text" id="parallel" name="parallel">

    <label for="max_loading_percent">max_loading_percent</label>
    <input type="text" id="max_loading_percent" name="max_loading_percent">
    
</form>
{% endblock %}
