html {
  height: 100%;
}

body {
    height: 100%;
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
color: #444444;
}

.bg-steel {
background-color: #0065BD;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.flex-container {
  height: 80%;
  width: 100%;
  position: relative;
}

#map{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.FeatureEditor {
  position: absolute;
  top: 2.5%;
  right: 1%;
  background: #ffffff00;
  color: #333333;
  height: 90%;
  width: 35%;
  min-height: 40em;
  min-width: 40em;
  z-index: 9999;
  display: auto;
  pointer-events: none;
}

.buttonsTab{
  position: absolute;
  top: 0px;
  right: 0px;
  background: #0065bd00;
  color: #e90000;
  height: 5%;
  width: 5%;
  opacity: 1;
  pointer-events: all;
}

.buttonsTab button {

  background-color: #0065bd;
  color: white;
  padding: 40px 15px;
  width: 100%;
  right:0.25em;
  min-width: 2em;
  border: none;
  outline: none;
  text-align: right;
  transition: 0.3s;
  display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
  cursor:pointer;
  position:relative;
	font-size: 18px;
  white-space: nowrap;
}

.buttonsTab button:hover {
  background-color: #3f90d6;
  
}

.buttonsTab button.active {
  background-color: #98C6EA;
  left: 0;
  transition: left .2s;
  color: black;
}

.tablinks span{
  display: inline-block;
  transform: rotate(90deg);
}


.featureListTab{
  position: absolute;
  top: 0px;
  right: 5%;
  background: #98C6EA;
  color: #000000;
  height: 100%;
  width: 30%;
  pointer-events: all;
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.featureSelect {
  width: 100%;
  height: 100%;
  background-color: #98C6EA;
  border: none;
  outline: none;
}

.featureSelect::-webkit-scrollbar {
  display: none;
}

.featureSelect option:hover {
  background-color: #c0d7e9;
}

.featureSelect option:checked {
  background-color: #fafafa;
}

.featureSelect option:checked:after {
  background-color: #fafafa;
}

.selectedFeatureEditor{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fafafa;
  color: #e90000;
  height: 100%;
  width: 65%;
  opacity: 1;
  display: auto;
  pointer-events: all;
  display: none;
}

.button {
  background-color: #0065BD; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #003359; /* Green */
  color: white;
}
