html {
  height: 100%;
}

body {
    height: 100%;
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
color: #444444;
}

.bg-steel {
background-color: #0065BD;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.flex-container {
  height: 80%;
  width: 100%;
  position: relative;
}

#map{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.FeatureEditor {
  position: absolute;
  top: 2.5%;
  right: 1%;
  background: #ffffff00;
  color: #333333;
  height: 90%;
  width: 35%;
  z-index: 9999;
  display: auto;
  pointer-events: none;
}

.featureButtons{
  position: absolute;
  top: 0px;
  right: 0px;
  background: #a0a0a0;
  color: #e90000;
  height: 5%;
  width: 5%;
  opacity: 1;
  pointer-events: all;
}

.featureButtons button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.featureButtons button:hover {
  background-color: #ddd;
}

.featureButtons button:active {
  background-color: #ddd;
}

.tablinks span{
  display: inline-block;
  transform: rotate(90deg);
}


.featureListSelection{
  position: absolute;
  top: 0px;
  right: 5%;
  background: #ddd;
  color: #e90000;
  height: 100%;
  width: 30%;
  pointer-events: all;
}

.selectedFeatureEditor{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fafafa;
  color: #e90000;
  height: 100%;
  width: 65%;
  opacity: 1;
  display: auto;
  pointer-events: all;
}

.button {
  background-color: #0065BD; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #003359; /* Green */
  color: white;
}
